release
build
.gradle
local.properties
gradle
target
build
.settings
.project
.classpath
.idea
.DS_Store
.gradle
gradle
local.properties
bin
gen
proguard
.pmd
project.properties
default.properties
gen-external-apklibs
*.iml
out
*~
_site
*/.gradletasknamecache
.gradletasknamecache
*.rb
